*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
list-style-type: none;
}
body{
background: #f9f9f9;
}
.container{
max-width: 1200px;
margin: 0 auto;
background: #fff;
padding: 0 20px;
}
#header{
display: flex;
justify-content: space-between;
align-items: center;
border-bottom: 1px solid #dddd;
}
.sm-heder{
    padding: 10px 0;
}
.header-logo{ font-size: 25px;}
.header-nav{}
.header-nav ul{}
.header-nav ul li{ display: inline-block;}
.header-nav ul li a{display: block; padding: 5px 10px; background: #eee;color: #000;transition: .5s;}
.header-nav ul li a:hover{
    background-color: #ddd;
    color: #333;
}
.sm-block ul li, .sm-block ul li a{
display: block;
margin-bottom: 2px;
}
.sidebar{
    position: fixed;
    left: 0;
    top:0;
    height: 100vh;
    overflow-y: scroll;
    padding: 10px;
    width: 300px;
    background-color: #fff;
    z-index: 1000;
    transition: .3s;
}
.marquee{
color: #000;
background: #eee;
border-left: 2px solid #000;
border-right: 2px solid #000;
font-size: 15px;
border-bottom: 1px solid #0000;
padding:5px;
display: flex;
}
#footer{
display: flex;
justify-content: space-between;
align-items: center;
height: 200px;
border-top: 1px solid #dddd;
border-bottom: 1px solid #dddd;
text-align: center;
background: #fff;
}
.footer-info{
max-width: 300px;
}
.footer-menu{}
.footer-menu ul{}
.footer-menu ul li{}
.footer-menu ul li a{ padding: 5px 10px; background: #eee; color: #333; display: block; margin: 5px;}
.footer-text{
max-width: 300px;color: red;
}
#main-content{
min-height: calc(100vh - 350px);
}

.live-match h3{
padding: 10px;
background: #eee;
cursor: pointer;
}
.match-header{
display: flex;
justify-content: space-between;
}
.match-ul{
border: 1px solid #ddd;
margin: 5px 0;
}
.match-ul .match-li span{
padding: 10px;
background: #eee;
display: block;
}
.match-ul .match-li ul li{
padding: 10px;
margin: 5px 0 ;
background: #eee;
}
.match-statistic-result{
background: #ddd;
margin: 5px 0;
}
.match-statistic-result a{
padding: 5px 10px;
background: #fff; 
display: inline-block;
color: #000;
}
.match-statistic-result p{
padding:  10px;
}
.display{
display: none!important;
}
.transform{
    transform: translate(-300px);
}
.user-menu{padding: 5px 0;border-bottom: 1px solid #ddd;}
.menu{display: flex;align-items: center; border-bottom: 1px solid #dddd;
    overflow: hidden;position: relative;}
.menu-box{display: flex;align-items: center; text-align: center; border: 1px solid #ddd; padding: 5px 10px;transition: .5s; margin: 5px;margin-left: 0;}
.menu-box:hover{background-color: #eee;}
.menu-box-img{float: left;}
.menu-box-img img{height: 20px;}
.menu-box-title{float: left;padding: 0 5px;width: max-content;}
.menu-box-title a{color: #000;}
.scrollbarhide::-webkit-scrollbar {
  display: none;
}
.col-suc{
    color: green;
    padding: 20px;
    background: #eee;
    overflow: hidden;
    margin: 10px 0;
}
.col-dng{
    color: red;
    padding: 20px;
    background: #eee;
    overflow: hidden;
    margin: 10px 0;
}
.menu-button {
    position: absolute;
    z-index: 100;
}

   #customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f9f9f9;}

#customers tr:hover {background-color: #eee;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: #000;
}
.menu-button button{
    padding: 10px;
    border: none;
    cursor: pointer;
}
.menu-boxes{
    display: flex;
    transform: translate(30px);
    transition: .3s;
}

@media screen and (max-width: 480px) {
 

#footer{
display: block;
padding: 30px 0;
height: initial;
}
.footer-info, .footer-text, .footer-menu{
    max-width: initial;
    padding: 20px 0;
}
.container{
    padding: 5px;
}
}